/* @import "tailwindcss";

body {
  background: linear-gradient(135deg, #f0f4ff 0%, #f9fafb 50%, #f0f9ff 100%);
  min-height: 100vh;
} */

@import "tailwindcss";

body {
  background: linear-gradient(135deg, #f0f4ff 0%, #f9fafb 50%, #f0f9ff 100%) !important;
  min-height: 100vh;
}